<div class="h-screen flex flex-col bg-[#F6F8FB] p-6">

  <!-- Chat Container -->
  <div class="flex-1 overflow-y-auto space-y-6 pr-2">

    <!-- LEFT MESSAGE -->
    <div class="flex flex-col items-start">
      <span class="text-sm text-gray-500 mb-1">Lines</span>

      <div class="bg-primarytext-gray-800 px-4 py-3 rounded-2xl rounded-tl-md max-w-[60%]">
        Hi. I was charged $5.00 as a cancellation fee for my last ride (ID: 55B3R),
      </div>

      <span class="text-xs text-gray-400 mt-1">04:45 PM</span>
    </div>


    <!-- RIGHT MESSAGE -->
    <div class="flex flex-col items-end">
      <span class="text-sm text-gray-500 mb-1">Salam Hotel</span>

      <div class="bg-primary text-white px-5 py-3 rounded-2xl rounded-tr-md max-w-[60%]">
        Hello! I'm Sarah, and I'd be happy to check that for you.
      </div>

      <span class="text-xs text-gray-400 mt-1">04:45 PM</span>
    </div>

  </div>


  <!-- INPUT AREA -->
  <div class="mt-6 flex items-center gap-4">
    <input
      type="text"
      placeholder="Type your message here ..."
      class="flex-1 bg-gray-100 px-5 py-3 rounded-full outline-none"
    />

    <button class="bg-primary text-white w-12 h-12 rounded-full flex items-center justify-center">
      ➤
    </button>

    <button class="text-gray-500 text-xl">
      📎
    </button>

    <button class="text-gray-500 text-xl">
      🖼
    </button>
  </div>

</div>
